<div class="container-fluid align-items-center pt-2">
  <div class="d-flex justify-content-center align-items-center mb-5">
    <img ngSrc="../../../assets/spotify-logo.png" class="rounded mx-auto d-block fade-in"
         alt="image" height="268" width="300">
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mat-headline-1 fade-in" style="font-weight: normal">&nbsp;{{bigTitle}}</h1>
    <h2 class="mat-headline-2 fade-in" style="font-weight: normal">&nbsp;{{subTitle}}</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button mat-raised-button class="btn-sp" [hidden]="!okToDisplay" (click)="startAuth()">
      Start Spex
    </button>
  </div>
</div>



