<mat-card [ngStyle]="{'height': '90vh', 'width': '100%', 'box-shadow': 'none'}">
  <mat-card-header class="d-flex justify-content-between w-100 flex-column flex-sm-row">
    <mat-card-title class="mb-0">
      <div class="mt-2 mb-2 mb-sm-0">{{ playlistMetaData.name }}</div>
    </mat-card-title>
    <div class="d-flex">
      <button class="me-1 me-sm-2" mat-button routerLink="../all">
        <mat-icon>arrow_back</mat-icon>&nbsp;
        Back
        <span class="d-none d-sm-inline">
                    To Playlists
                </span>
      </button>
      <button (click)="exportSelected()" class="btn-sp ml-1 me-2" mat-flat-button>
        <mat-icon>save_alt</mat-icon>&nbsp;
        <span class="d-none d-sm-inline">
                    Export
                </span>
        Selected
      </button>
      <button (click)="displayExportOptionsDialog()" class="btn-sp ml-1" mat-flat-button>
        <mat-icon>save_alt</mat-icon>&nbsp;
        <span class="d-none d-sm-inline">
                    Export
                </span>
        All
      </button>
    </div>
  </mat-card-header>
  <hr style="margin: 5px;"/>
  <mat-card-content [ngStyle]="{'height': '90%', 'overflow-y': 'auto'}">
    @if (loading) {
      <div class="container d-flex align-content-center flex-wrap" style="height: 100vh;">
        <div class="row d-flex justify-content-center w-100">
          <mat-spinner></mat-spinner>
        </div>
        <div class="row w-100 mt-5">
          <p class="mat-display-2 d-flex justify-content-center">Please Wait</p>
        </div>
      </div>
    } @else {
      <mat-selection-list [(ngModel)]="selectedTracks">
        @for (track of playlistItems; track track) {
          <mat-list-option [value]="track.id" togglePosition="before">
            <div class="d-flex">
              <mat-icon matListItemIcon>audiotrack</mat-icon>
              <div>
                <div mat-line>{{ track.name }}</div>
                <div mat-line>{{ track.artists }}</div>
              </div>
            </div>
          </mat-list-option>
        }
      </mat-selection-list>
    }
  </mat-card-content>
</mat-card>
