<h1 mat-dialog-title>Export Options</h1>
<mat-dialog-content>
  <p>What fields you want to export?</p>
  <mat-selection-list [(ngModel)]="selectedFields">
    @for (field of trackFields; track field) {
      <mat-list-option [selected]="field.checked" [value]="field.field" class="mat-primary">
        {{ field.displayName }}
      </mat-list-option>
    }
  </mat-selection-list>
  <mat-divider></mat-divider>
  <mat-form-field [floatLabel]="'auto'" [style]="{'width': '100%'}">
    <input [(ngModel)]="separator" matInput placeholder="Field Separator">
    <mat-hint align="start"><strong>Default is separator is comma</strong></mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-around">
  <button
    [disabled]="!selectedFields.length" [mat-dialog-close]="{selectedFields: selectedFields, separator: separator}"
    class="btn-sp"
    mat-flat-button>
    <mat-icon>save_alt</mat-icon>&nbsp;Export
  </button>
  <button [mat-dialog-close]="false" mat-flat-button>
    Cancel
  </button>
</mat-dialog-actions>
