<mat-toolbar [ngStyle]="{'background': '#1ED760'}" class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img alt="spex-logo" height="45" ngSrc="assets/spotify-black.png" width="50">
    <span>&nbsp; S P E X</span>
    <span></span>
  </div>
  <div class="d-flex align-items-center gap-2">
    <p class="mb-0" style="font-weight: normal; font-size: medium">{{ userData.name }}</p>
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <div mat-card-avatar class="avatar mb-0" [style.background-image]="'url('+this.userData.imageUrl+')'">
      </div>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button (click)="switchAccount()" mat-menu-item>
        <i class="fas fa-exchange-alt"></i>&nbsp;
        <span class="d-none d-sm-inline">
                  Switch Account
              </span>
      </button>
      <button (click)="endSession()" mat-menu-item>
        <i class="fas fa-trash"></i>&nbsp;
        <span class="d-none d-sm-inline">
                  End Session
              </span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

@if (loading) {
  <div class="container d-flex align-content-center flex-wrap" style="height: 100vh;">
    <div class="row d-flex justify-content-center w-100">
      <mat-spinner></mat-spinner>
    </div>
    <div class="row w-100 mt-5">
      <p class="mat-display-2 d-flex justify-content-center">Please Wait</p>
    </div>
  </div>
} @else {
  <div class="container-fluid" style="background-color: #E9EAE5; padding-top: 20px;">
      <div class="col-12 col-sm-8">
        @if (playlistsStatus == 'all') {
          <app-playlists [style]="{'width': '95%'}"></app-playlists>
        } @else {
          <app-playlist-items [playlistId]="playlistId" [style]="{'width': '95%'}"></app-playlist-items>
        }
      </div>
  </div>
}
